body{
  background-color: #000000;  
  height: 100vh;
  width: 100vw;
}
.canvas{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.searchbox{
    margin-top: 100px;
}
h1{
  color: #55ad22;
}
footer{
  position: absolute;
  bottom: 10px;

  color: rgb(75, 211, 161);
  
}

.result{
  font-family: 'Comic Neue';
font-family: 'Libre Baskerville', serif;
border: 3px solid #46c1a4;
  margin-top: 100px;
  color: white;
  padding: 20px;
}
/* .bg{
  background-image: url(/asset/clear\ sky.gif);
  background-size: cover;
} */
.rain{
  background-image: url(/asset/rain\ sanji.gif);
  background-size: contain;
  background-repeat: no-repeat;
}